mixin event-card(props={})
    -
        var {
                day = '30',
                month = 'cен',
                pictureUrl,
                tagText = 'Наука',
                tagColor = '#6DA800',
                title = 'Название мероприятия',
                href = '#',
                infoItems = [
                    {
                        icon: 'clock',
                        text: '12:00 - 17:00'
                    },
                    {
                        icon: 'map-pin',
                        text: 'ГУАП, Ленсовета 14, актовый зал'
                    },
                    {
                        icon: 'users-group',
                        text: '500 человек'
                    }                  
                ],
                tag = 'article',
                countDownText = 'Через 12 дней',
                countDownStyle = 'default' // @type {'default'|'dangerous'}
        } = props

    #{tag}.event-card
        +bookmark().event-card__bookmark
        .event-card__date
            .event-card__date__day!= day
            .event-card__date__month!= month
        .event-card__cover
            img(
                src=pictureUrl,
                alt=title
            )
        .event-card__tag_and_timer_cont
            +tag({dense: true, color: tagColor})!= tagText
            .event-card__timer(class={ _dangerous: countDownStyle === 'dangerous' })
                svg.event-card__timer-icon(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M3.83317 1.33337L1.5415 3.00004M12.1665 1.33337L14.4582 3.00004M6.33317 8.83337H9.6665M7.99984 7.16671V10.5M2.1665 8.83337C2.1665 9.59942 2.31739 10.358 2.61054 11.0657C2.90369 11.7734 3.33337 12.4165 3.87505 12.9582C4.41672 13.4998 5.05978 13.9295 5.76752 14.2227C6.47525 14.5158 7.23379 14.6667 7.99984 14.6667C8.76588 14.6667 9.52443 14.5158 10.2322 14.2227C10.9399 13.9295 11.583 13.4998 12.1246 12.9582C12.6663 12.4165 13.096 11.7734 13.3891 11.0657C13.6823 10.358 13.8332 9.59942 13.8332 8.83337C13.8332 8.06733 13.6823 7.30879 13.3891 6.60105C13.096 5.89332 12.6663 5.25026 12.1246 4.70858C11.583 4.16691 10.9399 3.73723 10.2322 3.44408C9.52443 3.15092 8.76588 3.00004 7.99984 3.00004C7.23379 3.00004 6.47525 3.15092 5.76752 3.44408C5.05978 3.73723 4.41672 4.16691 3.87505 4.70858C3.33337 5.25026 2.90369 5.89332 2.61054 6.60105C2.31739 7.30879 2.1665 8.06733 2.1665 8.83337Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                != countDownText
        a.event-card__headline(href=href)!= title
        .event-card__info
            each item in infoItems
                .event-card__info-item
                    img.event-card__info-icon(
                        src=`../../icons/${item.icon}.svg`,
                        alt=""
                    )
                    != item.text                