mixin event-card(props={})
    -
        var {
                day = '30',
                month = 'Сентябрь',
                pictureUrl,
                tagText = 'Наука',
                tagColor = '#6DA800',
                title = 'Название мероприятия',
                href = '#',
                infoItems = [
                    {
                        icon: 'clock',
                        text: '12:00 - 17:00'
                    }
                ],
                tag = 'article',
                countDownText = 'Через 12 дней',
                countDownStyle = 'default' // @type {'default'|'dangerous'}
        } = props

    #{tag}.event-card
        +bookmark().event-card__bookmark
        .event-card__date
            .event-card__date__day!= day
            .event-card__date__month!= month
        img.event-card__image(
            src=pictureUrl,
            alt=title
        )
        .event-card__tag_and_timer_cont
            +tag({dense: true, color: tagColor})!= tagText
            .event-card__timer(class={ _dangerous: countDownStyle === 'dangerous' })!= countDownText
        a.event-card__headline(href=href)!= title
        .event-card__info
            each item in infoItems
                .event-card__info__time
                    include ../../assets/icons/clock.svg
                    != item.text